html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #e6eaed;
}

#directions-panel {
  margin: 0;
  width: 100%;
  /* height: auto; */
  font-family: "Francois One", sans-serif;
  font-size: 18px;
  display: inline-block;
  z-index: 100;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
#city_match,
#total,
#iteration,
#nodes {
  margin: 0;
  /* height: auto; */
  font-family: "Francois One", sans-serif;
  font-size: 22px;
  display: inline-block;
  z-index: 100;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.title {
  width: 100%;
  margin: auto;
  z-index: 100;
  position: relative;
  font-size: 50px;
  text-align: center;
  color: #252122;
  font-family: "Francois One", sans-serif;
}
.container_main {
  margin: 0;
  width: 100%;
  padding: 0;
  height: auto;
  background-color: #fff;
  display: inline-block;
  box-sizing: border-box;
}
#map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 0;
}
#info_container {
  z-index: 100;
  position: relative;
  width: 25%;
}
#inicio,
#final,
.input_style {
  float: left;
  font-family: "Francois One", sans-serif;
  height: 3em;
  border: 0;
  border-bottom: 1px solid #000;
  font-size: 20px;
  width: 300px;
}
#maxd {
  margin-left: 25px;
}

.btn_style {
  width: auto;
  margin-left: 25px;
  height: 3em;
  font-size: 18px;
  background-color: #252122;
  border: none;
  color: #e6eaed;
  padding: 0 31px;
  transition: all 0.7s;
  cursor: pointer;
}
.btn_style:hover {
  color: #fff;
  background-color: #000;
}
.route_indication {
  width: 100%;
  height: auto;
  display: inline-block;
}
.style_item {
  margin: 0;
  float: left;
  background-image: url(../img/arrow.png);
  width: 50%;
  height: auto;
  background-position: center right;
  display: inline-block;
  background-size: 20px;
  background-repeat: no-repeat;
}
#directions-panel .style_item:last-child {
  background-image: none !important;
}
#directions-panel .style_item:first-child {
  margin-top: 0.6em !important;
}

select,
input {
  outline: 0px !important;
}

.leftbtn {
  margin: auto;
}

#calc {
  width: 30%;
  margin: auto;
  bottom: 0;
  position: fixed;
}

.centerbtn {
  float: none;
  margin: auto;
  text-align: center;
}
.shorten {
  font-size: 20px;
  height: 5%;
}
.adminquery {
  width: 100vw;
}
.red {
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 5px;
}
.red:hover {
  background-color: rgb(214, 36, 36);
}
.short {
  width: 90%;
  float: left;
}
.padded {
  margin-top: 100px;
  width: 25%;
}
@media (max-width: 900px) {
  .title {
    font-size: 30px;
  }
  .shorten {
    font-size: 25px;
  }
  #inicio,
  #final,
  .input_style {
    width: 200px;
    font-size: 20px;
  }
  .btn_style {
    font-size: 20px;
  }
  #calc {
    width: 100%;
  }
  #city_match,
  #directions-panel,
  #total {
    font-size: 20px;
  }
  .red {
    padding: 15px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 25px;
  }
  .shorten {
    font-size: 20px;
  }
  #inicio,
  #final,
  .input_style {
    width: 150px;
    font-size: 15px;
  }
  .btn_style {
    font-size: 15px;
  }
  #calc {
    width: 100%;
  }
  #city_match,
  #directions-panel,
  #total {
    font-size: 15px;
  }
  .red {
    padding: 10px;
  }
  .short {
    width: 80%;
  }
  .elongated {
    width: 200px !important;
  }
}
